
    <script src="/website/js/jquery-3.5.1.min.js"></script>
    <script src="/website/js/popper.min.js"></script>
    <script src="/website/js/bootstrap.min.js"></script>
    <script src="/website/js/main.js"></script>
</body>

</html>